<h1><%= @monster.name %> Monster!!! </h1>

<ul>
    <li><%= @monster.bio %></li>
    <li>Affinity: <%= @monster.affinity %></li>
    <li>Strength: <%= @monster.strength %></li>
    <li>Health: <%= @monster.health %></li>
</ul>

<%= button_to "EDIT your MONSTER", edit_monster_path(@monster), method: :get %>
<br>
<%= button_to "DELETE your MONSTER",  @monster, method: :delete, data: {confirm: "REALLY?"} %>
<br>
<br>
<%= link_to("All Monsters", monsters_path) %>